<footer class="py-5 bg-light">
 <div class="container">
  <div class="row">
   <div class="col-6 col-md">
      <div class="contact">
        <h5>Contact Us</h5>
        <p>Amazeriffic!</p>
        <p>555 Fiftieth Street</p>
        <p>Asheville, NC 28801</p>
      </div>
    </div>
    <div class="col-6 col-md">
        <h5>Sitemap</h5>
        <ul class="list-unstyled mb-0">
            <li>
              <a class="text-black" href="/">Home</a>
            </li>
            <li>
              <a class="text-black" href="/about">About Us</a>
            </li>
            <li>
              <a class="text-black" href="/privacy">Privacy</a>
            </li>
            <li>
              <a class="text-black" href="/support">Support</a>
            </li>
            <li>
              <a class="text-black" href="/faq">FAQ</a>
            </li>
            <li>
              <a class="text-black" href="/careers">Careers</a>
            </li>
        </ul>
    </div>
   </div>
 </div> 
</footer>
